cat > .gitignore <<EOL
# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
venv_django/
.env

# Node / Frontend
node_modules/
adtdcbba_frontend/dist/
adtdcbba_frontend/node_modules/
.DS_Store

# Docker
postgres_data/
EOL